# Ignore all generated plots
*.png

# Python byte‐compiled files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS Finder files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
